
body {
    background-color:#161616;
    background-image: url('/image/app/register_bg.png');
   
}

body, html {
height: 100%;
}

.bg { 
/* The image used */
background-image: url("/image/app/register_bg.png");

/* Full height */
height: 100%; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.login-logo img {
    margin-top: 50px;
    height: 55px;
    width: auto;
}
.invite-header {
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;
}
.invite-text {
    font-size: 22px;
    margin-top: 10px;
}
.login-box {
    background-color: white;
    border-radius:15px;
}
.login-container {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.login-box{
    width: 70%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding:20px;
    height:auto;
}
.input-right {
    border: none;
    font-size: 20px;
    width: 85%;
    margin-left:15px;
    color:#616161;
    font-weight: thin;
    float:right;
}
.email-icon,.pass-icon , .repass-icon, .telephone-icon{
    float: left;
    width:35px;
    /* padding-top: 3.5%; */
}
.repass-icon img, .telephone-icon img {
    float: left;
    width:25px;
}
.grey-line
{
    border-bottom: 1px solid #959595;
    margin-top:20px;
    margin-bottom:20px;
}

.login-btn {

border-radius: 40px;
font-size: 20px;
padding: 5px 10px;
background-color: #fff;
width: 100%;
border-color: transparent;
background-color: #FEBA12;
color: #005593;
font-weight: bold;
margin-top:40px;

}
.fb-login-btn {
border-radius: 40px;
font-size: 20px;
padding: 5px 10px;
background-color: #fff;
width: 100%;
border-color: transparent;
background-color: #0095DE;
margin-top:10px;
font-weight:thin;
}
.login-center {
margin-left: auto;
margin-right: auto;

}
.input-right {
  float:left;
}

@media(min-width:1101px)
{
.login-center {
    width: 50%;
}
}
@media(max-width:1100px)
{
.login-center {
    width: 60%;
}
}
@media(max-width:991px)
{
.login-center {
    width: 70%;
}
}
@media(max-width:810px)
{
.login-center {
    width: 80%;
}
}
@media(max-width:810px)
{
.login-center {
    width: 85%;
}
}
@media(max-width:768px)
{
.login-center {
    width: 85%;
}
.grey-line {
    margin-top: 45px;
}
}
@media(max-width:710px)
{
.login-center {
    width: 90%;
}
.input-type {
    width:80%;
}
}
@media(max-width:670px)
{
.login-center {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.login-box {
    width:75%
}
}
@media(max-width:627px)
{
.login-center {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.login-box {
    width:85%
}

}
@media(max-width:627px)
{
.login-center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.input-right {
    font-size:18px;
}
.email-icon > img {
    width:25px;
}
.pass-icon > img {
    height: 33px;
    margin-top: -7px;
}
.login-box {
    width:95%
}
.email-icon,.pass-icon, .telephone-icon, .repass-icon {
    float: left;
    width:15px;
    /* padding-top: 3.5%; */
}

}
.invite-header.join-us {
font-size: 55px;
font-weight: normal;
margin-top: 10px;

}
.login-box.register {
margin-top: 20px !important;
}
.invite-header.reset{
    font-size: 55px;
    font-weight: normal;
    margin-top: 30px;
}
