 /* zigzag icon */
@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,500,600');
@charset "UTF-8";

/* <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet"> */
/*
@font-face {
    font-family: "Prompt";
    
}
*/
@font-face {
    font-family: "untitled-font-4";
    src:url("/fonts/untitled-font-4.eot");
    src:url("/fonts/untitled-font-4.eot?#iefix") format("embedded-opentype"),
      url("/fonts/untitled-font-4.woff") format("woff"),
      url("/fonts/untitled-font-4.ttf") format("truetype"),
      url("/fonts/untitled-font-4.svg#untitled-font-4") format("svg");
    font-weight: normal;
    font-style: normal;
  
  }

[data-icon]:before {
  font-family: "untitled-font-4" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a > span.icon-zag-ic-markets:hover {
    color:#ACACAC !important;
}
[class^="icon-zag-"]:before,
[class*=" icon-zag-"]:before {
  font-family: "untitled-font-4" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-size: 45px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
body { 
    padding-right: 0 !important 
}
.icon-zag-ic-basket:before {
  content: "\64";
}
.icon-zag-ic-history:before {
  content: "\65";
}
.icon-zag-ic-markets:before {
  content: "\66"; 
}
.icon-zag-ic-more:before {
  content: "\67";
}
.icon-zag-ic-sell:before {
  content: "\68";
}
.icon-zag-ic-shop:before {
  content: "\69";
}
.icon-zag-ic-user:before {
  content: "\6a";
}
.noti-icon-menu {
    width: 26px;
    padding-bottom: 11px;
    margin-left: 30px;
}
@media(max-width:765px)
{
    .noti-icon-menu {
        width: 26px;
        padding-bottom: 11px;
        margin-left: 10px;
    }
}
/* end zigzag icon */
body {
    font-family: 'Prompt',SuHelvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.7em;
}
/*** START FOOTER ***/
.footer-bottom {
    background: #0083CB;
    height: 40px;
    font-size:10px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:400px)
{
    .footer-bottom {
        height: 65px;
    }
}
.footer-bottom-login {
    background: none;
    height: 40px;
    font-size:10px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:50px;
    bottom:0px;
}
/* .footer-bottom-login {
    background: none;
    height: 40px;
    font-size: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
} */

.footer-bottom-register {
    background: none;
    height: 40px;
    font-size: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 13px;
}
/* .footer-bottom-register {
    background: none;
    height: 40px;
    font-size: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
} */
.footer-bottom  ul, .footer-bottom-login ul, .footer-bottom-register ul{
    list-style: none;
    display: inline-flex;
    margin-top: 10px;
    font-size:15px;
    bottom:0px;
    
}

.footer-bottom li , .footer-bottom-login li, .footer-bottom-register li{
    margin-right: 20px;
}
.border-left-white {
    border-left: white;
    border-left-style: solid;
    border-left-width: thin;
    padding-left: 20px;
    
}

.footer-logo {
    max-height: 30px !important;
}
.footer-top .footer-border-top {
    border-top:1px solid #D9D9D9;
    margin-top: auto;
    border-width: 2px; 
}

@media(min-width:  921px) {
    .footer-top{
       margin: 30px 60px;
    }
    .footer-top .footer-logo-top {
        padding-left:30px;
        padding-right:30px;
        margin-top:-15px;
        
    }
}

@media(max-width:  920px) {
    .footer-top{
       margin: 30px 60px;
    }
    .footer-top .footer-logo-top {
        padding-left:20px;
        padding-right:20px;
        margin-top:-10px;
        
    }
}

@media(max-width:  749px) {
    .footer-top{
        margin:30px 60px;
    }
    .footer-top .footer-logo-top {
        padding-left:15px;
        padding-right:15px;
        margin-top:-15px;
        
    }
}

@media(max-width:  560px) {
    .footer-top{
        margin:30px;
    }
    .footer-top .footer-logo-top {
        padding-left:15px;
        padding-right:15px;
        margin-top:-10px;
    }
}

/* mobile */
@media(max-width:  650px) {
    .footer-top{
        margin:30px;
    }
    .footer-top .footer-logo-top {
        padding-left:10px;
        padding-right:10px;
        margin-top:-10px;
    }
    .navbar-default {
        background-color: red;
        margin-left: 10px !important;
        margin-right:10px !important;
    }

    /* start m:market */
    .large-device {
        display:none !important;
    }
    .small-device {
        display:inline !important;
        font-size: 5px;

    }
    .recommend {
        padding-left:10px;
    }
    ul.suggest {
        margin-right: 0px !important;
        margin-left:0px !important;
    }
    ul.suggest li {
        margin-right: 10px !important;
    }
    ul.suggest li .blue-capsule.blue-font 
    {
        font-size:15px;
    }
    #add-market-btn {
        font-size:15px;
        margin-top:10px;
        margin-bottom: 10px;
    }
    /* end m:market */
}

/*** END FOOTER ***/


/*** START HEADER ***/
.navbar-default {
    background-color: white;
    margin-left: 50px;
    margin-right:50px;
    border-left: none;
    border-right: none;
    border-top:none;
    border-color:#ACACAC;
    border-radius: 0px !important;
    border-width: 2px;
}
.navbar-brand {
    height:auto;
    padding-top:20px;
    padding-bottom: 20px;
}
.nav.navbar-nav {
    margin-left:auto;
    font-size:10px;
    bottom:0px;
    margin-right: -32px;
    color:#ACACAC;
}

.navbar-default > .container-fluid {
    padding-left: 0px;
    padding-top: 5px;
}
.header-logo {
    width: auto;
    max-height:30px !important;
    
}




/*** END HEADER ***/

/*** START MENU ***/
.menu-list {
    display: inline-grid !important;
}

.menu-list .menu-desc {
    font-size: 1.8em;
    margin-top: -8px;
}

.navbar-default .navbar-nav> li > a.menu-list.active > span,
.navbar-default .navbar-nav> li > a.menu-list.active > span {
    color: #0095DE !important;
}

a.menu-list:hover{
    color:#ACACAC !important;
}
a.menu-list.menu-desc:hover{
    color:#000 !important;
}

.navbar-default .navbar-nav>li>a {
    color: #ACACAC;
}



.menu-user {
    bottom: -24px;
    padding-right: 0px !important;

}
a.menu-user.active span {
    color: #0095DE;
}
.menu-more {
    bottom: -33px;

}
.half {
    width:50%;
}

 /* noti */
.badge1 {
    position:relative;
 }
 .badge1[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:-4px;
    right:5px;
    font-size:1.3em;
    background:red;
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px red;
 }
 .badge1.noti-badge[data-badge]:after {
    right: -11px;
 }

@media(max-width: 767px)
{
    .menu-list {
        display: inline-block !important;
    }
    .navbar-default .navbar-nav> li > a.menu-list.active > span,
    .navbar-default .navbar-nav> li > a.menu-list.active > span {
        color: #0095DE !important;
        margin-right:10px;
        
    }
    .navbar-default .navbar-nav> li
    {
        text-align: left;
        height: 50px;
    }
   
    .menu-list .menu-desc {
        font-size: 15px;
        vertical-align: top;
        margin-left: 10px;
    }

    .menu-user {
        bottom: 0px;
        padding-right: 0px !important;
    
    }
    .menu-more {
        bottom: 0px;
    
    }

    .badge1.history-badge[data-badge]:after {
        top:-22px !important;
        right: -46px !important;
     }

     .badge1.noti-badge[data-badge]:after {
        top:-10px !important;
        right: -9px !important;
     }
    

  
}
/*** END MENU ***/

/*** START MARKET ***/
.recommend-container {
    margin-left: 50px;
    margin-right:50px;

}
.recommend {
    font-weight: bold;
    color:#959595;
    font-size: 20px;
}
@media(min-width:1000px)
{
    .recommend {
        margin-right:-190px;
    }
}

.image {
    position: relative; 
    width: 100%; /* for IE 6 */
}
.recommend-image {
    height: auto;
    width: inherit;
    border: 1px solid rgba(160, 5, 5, 0);
    border-radius: 13px;
}
.recommend-market {
    position: absolute; 
    bottom: -9px; 
    left: 0; 
    width: inherit; 
    color:#FEBA12;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0, 0, 30, 0.5);
    padding-top: 4.5%;   
    height:20%;
    border: 1px solid rgba(160, 5, 5, 0);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.recommend-market-modal {
    position: absolute; 
    bottom: 0px; 
    left: 0; 
    width: inherit; 
    color:#FEBA12;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0, 0, 30, 0.5);
    padding-top: 4.5%;   
    height:20%;
    border: 1px solid rgba(160, 5, 5, 0);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    text-align: center;
}
.modal-location {
    font-size: large;
    padding-bottom: 12px;
    border-bottom: 2px solid #9B9B9B;
}

.modal-desc-view {
    /* font-size: large; */
    padding-bottom: 28px;
    border-bottom: 3px solid #9B9B9B;
    padding-top: 9px;
    font-size: initial;
}
.modal-create {
    /* font-size: large; */
    padding-bottom: 22px;
    padding-top: 15px;
    font-size: initial;
}

.modal-create-date {

    border-bottom: 2px solid #9B9B9B;
    border-top: 2px solid #9B9B9B;
    padding: 16px 0px 8px 0px;
}
 /* boostrap  */
.modal-header {
    border:none;
}

.modal-footer {
    border:none;
}
.modal-join-btn {
    border-radius: 40px;
    font-size: 20px;
    padding: 10px 3em;
    background-color: #fff;
    width: 50%;
    border-color: transparent;
    background-color: #FEBA12;
    color: #005593;
    font-weight: bold;
    
}
.grey-font {
    color: #959595;
}
.grey-font-l {
       color: #959595;
       float:left;
}
.grey-font-r {
    color: #959595;
    float:right;
}
.bold {
    font-weight: bold;
}

.recommend-view {
    position: absolute;
    top: 25%;
    left: 0;
    width: 25%;
    text-alight: center;
    border: 1px solid rgba(160, 5, 5, 0);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #FEBA12;
    color: #005593;
    font-weight: bold;
    margin-left: 38%;
    margin-right: 30%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    height: 16%;
    font-size: 25px;
}
.prev-button {
    position: absolute;
    z-index: 2;
    height: -webkit-fill-available;
}
.next-button {
    position: absolute;
    z-index: 2;
    height: -webkit-fill-available;
    float: right;
    float: rignt;
    text-align: right;
    margin-left: 89%;
}
.next-button a {
    float:right;
}
.img-next-button {
    right: 0;
    margin-top: 200px;
    width: 50px;
}
.img-prev-button {
    left: 0;
    margin-top: 200px;
    width: 50px;
}
@media(max-width:640px) {
    .recommend-view, .recommend-count-view{
        width: 30% !important;
        font-size: 100%;
    }
} 

@media(max-width:400px) {
    .recommend-view, .recommend-count-view{
        width: 40% !important;
        font-size: 100%;
        margin-left: 30% !important;;
        margin-right: 30% !important;;
    }
    .recommend-market { 
        font-size: 13px !important;
        padding-top: 2.5%;
    }
} 
.recommend-count-view {
    position: absolute;
    top: 40%;
    left: 0;
    width: 25%;
    text-alight: center;
    border: 1px solid rgba(160, 5, 5, 0);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #fff;
    margin-left: 38%;
    margin-right: 30%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    color:#005593;
    font-size: 1em;
}
.border-recommend {
  
    border-bottom: 2px solid #959595;;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 25px;

}


/*** END RECOMMENT ***/
ul.suggest{
    list-style: none;
    display: inline-flex;
    margin-right:26px;
    margin-top:10px;
    margin-left: -50px;
}

ul.suggest li {
    margin-right: 10px;
    color: #0095DE;
}
/* @media(max-width:725px)
{
    ul.suggest {
        margin-right:0px !important;
    }
} */
.border-left-blue {
    border-left: #0095DE;
    border-left-style: solid;
    border-left-width: thin;
    padding-left: 10px;    
}

.top-15-container {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
.top-25-container {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}
.top-25 {
    margin-top: 25px;
}
.attend-group {
    font-weight: bold;
    color:#959595;
    font-size: 20px;
    margin-left: 10%;
}


/*** SORT COMPONENT ***/
.blue-font {
    color:#0095DE !important;
}


.blue-20 {
    color:#0095DE !important;
    font-size:20px;
}
.blue-30 {
    color:#0095DE !important;
    font-size:30px;
}
.blue-20-bold {
    color:#0095DE !important;
    font-size:20px;
    font-weight: bold;
}
.blue-capsule {
    border: 1px solid #0095DE;
    border-radius: 25px;
    width: 100%;
    font-size: 19px;
    padding: 6px 20px;
    background-color: #fff;
}

.blue-capsule-sort {
    border: 1px solid #0095DE;
    border-radius: 15px;
    font-size: 15px;
    padding: 6px 20px;
    background-color: #fff;
    /*width: 100%;*/
    float: right;
}
.dropdown-menu.price-dropdown, .dropdown-menu.category-dropdown {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius:15px;

}
.yellow-capsule-blue-font {
    border: 1px solid  #FEBA12;
    border-radius: 25px;
    font-size: 15px;
    padding: 10px 35px;
    background-color:  #FEBA12;
    color:#003C6E;
    float: right;
    cursor: pointer;
    font-weight: bold;
}
.yellow-capsule-blue-font-admin {
    border: 2px solid #FEBA12;
    border-radius: 25px;
    font-size: 15px;
    padding: 5px 35px;
    background-color: #FEBA12;
    color: #003C6E;
    cursor: pointer;
    font-weight: bold;
}
.yellow-capsule-blue-font.rating-btn {
    padding: 10px 55px !important;
}
.yellow-capsule-blue-font:hover {
    color:#003C6E;
}
.calender {
    padding: 10px;
    margin-left: -20px;
}

.pink-capsule-white-font {
    border: 2px solid  #FC8C7A;
    border-radius: 25px;
    font-size: 15px;
    padding: 5px 35px;
    background-color:  #FFF;
    color:#FC8C7A;
    cursor: pointer;
    font-weight: bold;
}
.white-capsule-blue-font {
    border: 1px solid  #fff;
    border-radius: 25px;
    font-size: 15px;
    padding: 5px 35px;
    background-color:  #fff;
    color:#0095DE;
    cursor: pointer;
    /* font-weight: bold; */
}

@media(max-width: 993px)
{
    .blue-capsule-sort {
        margin-top: 15px;
    }
}

a:hover, a:focus{
    text-decoration: none;
    color:#0095DE;
}

/* .grey-capsule {
    border: 1px solid #DEDDDD;
    border-radius: 15px;
    font-size: 15px;
    padding: 6px 20px;
    background-color: #fff;
    width: 100%;
    float: right;
    display: flex;
} */
.grey-capsule {
    border: 1px solid #DEDDDD;
    border-radius: 15px;
    font-size: 16px;
    padding: 6px 20px;
    background-color: #fff;
    width: 100%;
    float: right;
    display: flex;
}
.green-font {
    color:#00DA9F
}
.green-capsule {
    border: 1px solid #00DA9F;
    border-radius: 15px;
    font-size: 15px;
    padding: 6px 20px;
    background-color: #fff;
    width: 100%;
    float: right;
    display: flex;
}

@media(max-width:992px)
{
    .blue-capsule-sort {
        width:100%;
    }
}
.search-icon {
    width: 5%;
    float: right;
    margin-top: 5px;
    text-align: right;
}
.search-input {
    width:95%;
    border:none;
}

/*** END SEARCH COMPONENT ***/


button:focus, input:focus, textarea:focus{
    outline: none;
}

/*** START MARKET GROUP ***/
.recommend-market-group {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: inherit;
    color: #FEBA12;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.2);
    padding-top: 6.5%;
    height: 24%;
    border: 1px solid rgba(160, 5, 5, 0);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.market-group-name {
    position: absolute;
    left: 12px;
}
.market-group-count-view {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 7px;
    color: #fff;
    font-size: initial;
    float: right;
    font-weight: initial;
    margin-right: 12px;
}
@media(max-width:880px) and (min-width:768px)
{
    .market-group-count-view {
        margin-left:0%;
    }
}
@media(max-width:1273px) and (min-width:1200px)
{
    .market-group-count-view {
        margin-left:10%;
    }
}
@media(max-width:500px)
{
.market-group-count-view {
    padding: 5px;
    border-radius: 7px;
    margin-left: 5%;
}
.recommend-market-group {
    color: #FEBA12;
    font-size: 15px;
    font-weight: bold;
    height: 19%;
}

}
.recommend-image-group {
    height: 350px;
    width: 100%;
    border: 1px solid rgba(160, 5, 5, 0);
    border-radius: 13px;
    object-fit: cover;
}

.member-list {
    padding-bottom: 10px;
}
.admin-icon-cover {
    width: 70px !important;
    height: auto !important;
    margin-top: -10px;
    float: left;
    border-radius: unset !important;

}

/** end market group ***/

/*** start add market modal ***/
.add-market-image {
    height: 260px;
    width: 100%;
}
.plus-image {
    position: absolute;
    width: 100%;
    height: 20px;
    margin-top: 15%;
    padding: 15px;
    text-align: center;
}

.input-file {
    margin-left: -50px;
    width: 50px;
    opacity: 0;
    display: inline !important;
}

/** END ADD MARKET **/
/** START SCAN AROUND **/
.breadcrumb {
    padding: 0px 5px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #ffffff;
    border-radius: 4px;
    font-size:20px;
    color:#0095DE;
}
.breadcrumb > li + li:before {
    color: #23527c;
    content: "> ";
    padding: 0 5px;
}
.header-font {
    font-weight: bold;
    color: #959595;
    font-size: 1.8em;
    margin-top:35px;
}
.map {
    width:100%;
    height:450px;
    border: 1px solid #959595;
}
/** END SCAN AROUND **/
/** START SUGGESTED **/
.suggest-container {
    padding: 10px 3px !important;
    margin-bottom: 5px;
/*     height:350px; */
}
.suggest-image-responsive {
    height:400px;
    width:100%;
    object-fit: cover;
}
/** END SUGGESTED **/
/*** START SHOP ***/
.seller img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 5px;
    margin-top: 5px;
    object-fit: cover;
}
.seller {
    font-size: 15px;
    font-weight: bold;
}

.dropdown-menu>li>a {
    line-height: 2.2 !important;
}

.goods-image {
    margin-top:10px;
    position:relative;
}
.goods-image img {
   width:100%;
   height: auto;
   padding-left:5px;
   padding-right:5px;
}
.goods-total {
    font-size:15px;
    font-weight: normal;
    text-align:left;
    margin-top:10px;
    margin-left: 5px;
    margin-right: 5px;
}
.goods-name {
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    text-align: left;
}



.goods-desc {
    font-size:15px;
    margin-left: 5px;
    margin-right: 5px;

}
    
.buy {
    /* padding: 10px; */
    background-color: #E9E9E9;
    border-radius: 10px;
}
.goods-image img.buy-heart {
    width: 30px;
    height: auto;
    margin-bottom: -100px;
    z-index: 2;
    position: relative;
    float: right;
    margin-right: 5%;
    padding-top: 10px;
}
.goods-image .buy-count {
    width: 20px;
    height: auto;
    margin-bottom: -100px;
    z-index: 2;
    position: relative;
    float: right;
    margin-right: 7%;
    padding-top: 28px;
    color: white;
    font-size: 10px;

}
.buy-button {
    position: absolute;
    top: 40%;
    right: 39%;
    color: white;
    background-color: #0095DA;
    border: 1px solid #0095DA;
    border-radius: 3px;
}
.buy-count-hover {
    display:none;
}

/*** START SHOP/ORDER ***/
#my-breadcrumbs ul li {
    list-style:none; 
   }
  
   /*@media(min-width:970px)*/
   /*{*/
        /*#my-breadcrumbs {*/
            /*margin-left: -50px;*/
            /*width: 420px;*/
        /*}*/
    /*}*/

    /*#my-breadcrumbs {*/
        /*width: 420px;*/
    /*}*/

 .nav-tabs {
     border-bottom: 0px;
 }

   #my-breadcrumbs ul li a {
    display: block;
    float: left;
    height: 42px;
    background: #003C6E;
    text-align: center;
    /* padding: 30px 40px 50px 40px; */
    padding: 5px 40px 35px 40px;
    /* padding: 30px 40px 0 40px; */
    position: relative;
    margin: 0 45px 0 0; 
    /*font-family: "Open Sans", Helvetica, Arial, sans-serif;*/
    font-size: 20px;
    text-decoration: none;
    color: #0095DA;
   }
   
   
   #my-breadcrumbs ul li a.active{
    display: block;
    float: left;
    height: 20px;
    background: #0083CB;
    text-align: center;
    /* padding: 30px 40px 50px 40px; */
    padding: 5px 40px 35px 40px;
    /* padding: 30px 40px 0 40px; */
    position: relative;
    margin: 0 36px 0 0;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
   }
   
   #my-breadcrumbs ul li a:after {
       content: "";  
       border-top: 20px solid transparent;
       border-bottom: 20px solid transparent;
       border-left: 40px solid #003C6E;
       position: absolute; right: -40px; top: 0;   
   }
   #my-breadcrumbs ul li a.active:after {
       content: "";  
       border-top: 20px solid transparent;
       border-bottom: 20px solid transparent;
       border-left: 40px solid #0083CB;
       position: absolute; right: -40px; top: 0;   
   }
   
   #my-breadcrumbs ul li a:before {
    content: "";
     position: absolute;
     margin-top: -5px;   
     border-width: 20px 0 22px 40px;
     border-style: solid;
     border-color: #003C6E #003C6E #003C6E transparent;
     left: -40px;      
   } 
   #my-breadcrumbs ul li a.active:before{
    content: "";
     position: absolute;
     margin-top: -5px;   
     border-width: 20px 0 20px 40px;
     border-style: solid;
     border-color: #0083CB #0083CB #0083CB transparent;
     left: -40px;      
   } 
   /* Hide the Before Pseudo Element */
   #my-breadcrumbs ul li:first-child a:before {
       display: none; }
   
   /* Add Border Radius */
   #my-breadcrumbs ul li:first-child a{
       border-top-left-radius: 20px; 
       border-bottom-left-radius: 20px;
       border-bottom-right-radius: 1px;
   }
   #my-breadcrumbs ul li:last-child a:after {
       display: none; }
   #my-breadcrumbs ul li:last-child a{
       border-top-right-radius: 20px; 
       border-bottom-right-radius: 20px;
       border-bottom-left-radius: 1px;
   }
   /* Hover Effects */
   
   /* Hover Effects */
   #my-breadcrumbs ul li a:hover::after {
         border-top: 20px solid transparent;
           border-bottom: 20px solid transparent;
   }
    #my-breadcrumbs ul li a:hover::before {
     /* border-color: #003C6E #003C6E #003C6E  transparent;     */
   }

   @media(max-width:875px)
   {
       .order-select {
           margin-top:25px;
           text-align: center;
       }
       .yellow-capsule-blue-font {
           float:unset;
       }
       .bar-large {
           display:none;
       }
       .bar-small {
           display:inline;
       }
   }
    @media(max-width:580px)
    {
       .bar-small-process
       {
           width:100% !important;

       }
       .bar-small-process ul {
           min-width:400px !important;
       }
       .bar-small-button {
           margin-top:20px !important;
       }
    }
    .contact-dropdown.contact-shop-order {
        margin-left: -200px;
    }
    @media  (min-width: 925px) and (max-width: 990px) 
    {
        .contact-dropdown.contact-shop-order {
            margin-left:-86px;
        }
    }
    @media  (min-width: 800px) and (max-width: 924px) 
    {
        .contact-dropdown.contact-shop-order {
            margin-left:-120px;
        }
    }
    @media  (min-width: 677px) and (max-width: 799px) 
    {
        .contact-dropdown.contact-shop-order {
            margin-left:-146px;
        }
    }
    @media  (min-width: 617px) and (max-width: 677px) 
    {
        .contact-dropdown.contact-shop-order {
            margin-left:-160px;
        }
    }
   
    @media(max-width:969px)
    {
        .bar-large-process
        {
            margin-left:-40px;
        }
    }
   @media(min-width:876px)
   {
       .order-select {
           margin-top:25px;
           text-align: center;
       }
       .yellow-capsule-blue-font {
           float:unset;
       }
       .bar-large {
           display:inline;
       }
       .bar-small {
           display:none;
       }
   }
   .goods-name-order {
        font-size: 1.8em;
        font-weight: lighter;
        color: #0095DE !important;
        text-align: left;
   }
   .goods-image-order {
        padding-top: 0px;
        padding-left: 40px;
        padding-right:  40px;
        
   }
   .goods-detail-order {
       margin-top:25px;
       padding-bottom: 15px;
       border-bottom: 2px dashed #0095DE;
   }

   .goods-price-header {
        font-size: 20px;
        font-weight: bold;
   }

    .border-bottom-price {
        border-bottom: 1px solid;
        padding-bottom: 25px;
    }
    .goods-seller {
        padding-top: 10px;
        background-color: #0095DE;
        font-size: 25px;
        color: white;
    }
    .goods-avatar img{
        width:45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
    }
    .goods-social {
        margin-top: 15px;
        float:right;
    }
    @media(min-width:700px)
    {
        .info-large {
            display:inline;
        }

        .info-small {
            display:none;
        }
    }
    @media(max-width:700px)
    {
        .info-large {
            display:none;
        }

        .info-small {
            display:inline;
        }
    }
    @media (max-width:1000px)
    {
        .goods-image-order {
            widht:100%;
            height:auto;
        }
    }

    .yellow-price {
        color: #FEBA12;
        font-size: -webkit-xxx-large;
        font-weight: bold;
        margin-left: 15px;
    }
    .btn.btn-order-dropdown, btn.btn-place-dropdown {
        color: #0083cb;
        background-color: #ffffff;
        border-color: #c4ccd6;
        padding-left: 20px;
        border-radius: 15px;
        width: 100px;
    }
    .btn.btn-order-dropdown:focus , btn.btn-place-dropdown:focus{
        outline:0;
    }
    .location-search {
            width:70%;
            border:none;
            margin-left:10px;
    }
    .btn-location-point {
        width: 100%;
        border-radius: 15px;
        background-color: white;
        border: 1px solid #DEDDDD;
        font-size: 3px;
    }
    .btn.btn-location-point:focus {
        outline:0;
    }
    .text-location-point {
        font-size: 15px;
        float: left;
        padding: 5px;
        margin-left: 2px;
        color: #959595;
    }
    .menu-down-location-point {
        font-size: 5px;
        float: right;
        top: 12px;
        padding-right: 15px;
    }
    .btn-location-point.dropdown-menu>li>a
    {
        color: #959595;
        font-size:18px;
    }
    .customer-message {
        border-radius: 15px;
        width: 100%;
        height: 175px;
        padding: 15px;
        color: #959595;
        border:1px solid #e0dcdcba;
    }
    textarea.customer-message::placeholder  {
        color: #E8E5E5;
      }

    .suggest-tag {
        padding: 10px;
        font-size: 15px;
        color:white;
     }
     .suggest-tag-plus {
        background: #00DA9F;
        border-color: #00DA9F;
        color: white;
        font-size: 15px;
        padding: 10px;
     }
     .btn.suggest-tag:focus {
        outline:0;
     }    
     
     .suggest-tag.grey {
         background-color: #6D8496;
         border-color:#6D8496;
     }
     .suggest-tag.light-grey {
        background-color: #9FAEBA;
        border-color:#9FAEBA;
    }
    .suggest-tag.dark-grey {
        background-color: #546F88;
        border-color:#546F88;
    }
    .suggest-tag.dark-brown {
        background-color: #9C8A67;
        border-color:#9C8A67;
    }
    .suggest-tag.brown {
        background-color: #BEB29B;
        border-color:#BEB29B;
    }
    .flexslider.order-image ul li img{
        /*height:450px !important;*/
        /*width:auto;*/
        border-radius: 12px;
        margin-left:auto;
        margin-right:auto;
        object-fit: cover;
    }
    .flexslider.order-image .flex-control-nav.flex-control-paging {
        display: block;
    }
    .input-group.date .input-group-addon.grey-capsule{
        border: 1px solid #DEDDDD !important;
    }
    .input-group.date .input-group-addon:first-child.grey-capsule {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px; 
    }
    /**** START shop/seller ***/
    .seller-border-bar{
        border-bottom: 15px solid #ECEDED;
        margin-top: 15px;
    }
    .seller-profile {
        width: 82px;
        height: 82px;
        border-radius:50%;
    }
    .seller-name {
        margin-top: 15px;
        font-size: 20px;
        font-weight: bold;
        padding-left: 10px;
    }
    .seller-desc 
    {
        padding-left:10px;
    }
    .follow-button {
        border: 1px solid #0095DE;
        border-radius: 25px;
        font-size: 19px;
        padding: 6px 40px;
        background-color: #0095DE;
        font-size: 15px;
        font-weight: normal;
        color: white;
        margin-right: 10px;
    }
    .contact-button {
        border: 1px solid #DEDDDD;
        border-radius: 15px;
        font-size: 15px;
        padding: 6px 20px;
        background-color: #fff;
        float: right;
        display: flex;
    }
    .number-item {
        font-size: 30px;
        font-weight: bold;
    }
    .items-text {
        margin-left: 10px;
        font-size:20px;
    }
    
    /*** END shop/seller ***/

    /*** goods list layout ***/
  
    #wrapper
    {
        /*max-width: 78em; !* 960 px *!*/
        /* margin: 0 auto; */
    }
    #list
    {
        width: 100%;
        overflow: hidden;
        margin-bottom: -0.5em; 
        -webkit-column-count: 6;
        -webkit-column-gap: 0.3em;
        -webkit-column-fill: auto;
        -moz-column-count: 6;
        -moz-column-gap: 0.3em; 
        -moz-column-fill: auto;
        column-count: 6;
        column-gap: 0.3em; 
        column-fill: auto;
    }
        .item
        {
            margin-bottom: 10px; /* 15px 30px */
            -webkit-column-break-inside: avoid;
            -moz-column-break-inside: avoid;
            column-break-inside: avoid;
            top:0;
        }
    @media only screen and ( max-width: 60em ) /* 960px */
    {
        #list
        {
            -webkit-column-count: 4;
            -webkit-column-gap: 0.3em; /* 15px */
            -moz-column-count: 2;
            -moz-column-gap: 0.3em; /* 15px */
            column-count: 4;
            column-gap: 0.3em; /* 15px */
        }
            .item
            {
                margin-bottom:10px; /* 15px */
            }
    }
     
    @media only screen and ( max-width: 40em ) /* 640px */
    {
        #list
        {
            -webkit-column-count: 2;
            -webkit-column-gap: 0.3em; /* 15px */
            -moz-column-count: 2;
            -moz-column-gap: 0.3em; /* 15px */
            column-count: 2;
            column-gap: 0.3em; /* 15px */
        }
            .item
            {
                margin-bottom:10px; /* 15px */
            }
    }
    @media only screen and ( max-width: 20em ) /* 320px */
    {
        #list
        {
            -webkit-column-count: auto;
            -moz-column-count: auto;
            column-count: auto;
        }
    }
    /*** goods list layout ***/

    /*** START shop/seller/profile ***/
    .profile-banner img { 
        height: 250px;
        width: 100%;
        margin-top: -66px;
        object-fit: cover;
    }
    .profile {
        margin-top: -100px;
        /* margin-left: 120px; */
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    
   
    .sell-text {
        margin-left: 15px;
    }
    .sell-count 
    {
        font-weight: 20px;
    }
    .seller-profile-container {
        background-color: white;
        padding-top: 100px;
        margin-top: -100px;
        padding-bottom: 50px;
    }
   
    .none-list{    
        list-style: none;
        display: inline-flex;
        margin-top: 10px;
        font-size: 15px;
        bottom: 0px;
    }
    .none-list li{
        margin-right:15px;
    }
    .contact-dropdown {
        width: 300px;
        margin-left: -150px;
        margin-top: 5px;
        border: 2px solid #ECEDED;
    }
    
    .contact-dropdown {
        border-radius: 16px;
    }
    .contact-dropdown li div span:first-child{
        width:50px;
        /* border-bottom: 1px solid #ECEDED; */
    }
    .contact-dropdown li div{
        padding: 15px;
        border-bottom: 1px solid #ECEDED;
    }
    .menu-user-dropdown.contact-dropdown li div{
        padding: 10px;
        border-bottom: 1px solid #ECEDED;
        background-color: none !important;
    }
    .menu-user-dropdown.contact-dropdown li a:hover {
        color:#0095DE;
        background-color: none !important;
    }
    .contact-dropdown li:last-child div{
        padding: 15px;
        border-bottom: 0px;
    }
    .contact-icon img{
        width:35px;
        height:auto;
    }
    .join-container {
        background-color: #F8F8F8;
        padding: 15px;
        border-radius: 15px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .like-selling-container {
        padding-top: 40px;
        background-color: #FFFFFF;
        border-radius: 15px;
        margin-top: 10px;
    }

    /*** END shop/seller/profile ***/

    /*** START profile ***/
    .profile-container {
    background-color: white;
    padding-top: 20px;
    margin-top: -100px;
    padding-bottom: 50px;
    }
    .profile-container .none-list {
        font-size:20px;
    }
    .profile-container .none-list li {
        margin-right:20px;
    }
    .profile-container .none-list li.border-left-blue {
        padding-left:20px;
    }
    .profile-container .none-list li div:last-child {
        margin-top:10px;
    }
    .blue-capsule-feedback {
        border: 1px solid #0095DE;
        border-radius: 25px;
        padding: 10px 40px;
        background-color: #fff;
        margin-top: 10px;
    }
    .account-container {
        padding-top: 30px;
        background-color: #FFFFFF;
        border-radius: 15px;
        margin-top: 10px;
    }
    @media(max-width:997px)
    {
        .profile-container .none-list {
            margin-top:100px !important;
            padding-left: 0px;
        }
    }
    .my-image {
        margin-top:-50px;
        margin-left:50px;
        object-fit: cover;
    }
    @media(max-width:997px)
    {
        .my-image {
            margin-left:35%;
        }
    }    
    .profile-border-bottom {
        border-bottom: 2px solid #ECEDED;
        width:90%;
        margin-top:15px;
       padding-bottom:15px;
    }
    .save-profile-btn {
        width: 35%;
        font-size: 20px;
    }
    .cover-btn {
        border: 1px solid #0083CB;
        border-radius: 25px;
        width: 100%;
        font-size: 19px;
        padding: 6px 20px;
        background-color: #0083CB;
        color: white;
        width: 125px;
        position: absolute;
        margin-left:-130px;
       
    }
     .profile-btn {
         width: 100%;
         font-size: 19px;
         padding: 0px;
         background-color: #f1f1f169;
         color: white;
         width: 50px;
         position: absolute;
         left: 159px;
         top: 30px;
         margin-left: -130px;
     }

    .btn-file {
        position: relative;
        overflow: hidden;
     
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;   
        cursor: inherit;
        display: block;
    
    }
    
    /*** END PROFILE ***/

    /**START market/group ***/
    .title-market-group {
        font-weight: bold;
        color:#959595;
        font-size: 25px;
    }
    .group-cover img {
        width:100%;
        height:350px;
        border-radius: 15px;
        object-fit:cover;
    }

    .select-text {
        position: absolute;
        margin-top: 10px;
        margin-left: 10px;
        color:white;
    }
    .invite-btn {
        position: absolute;
        margin-top: -70px;
        right: 6%;
    }
    .input-invite-friend {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        float:unset;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .input-invite-friend input{
        width: 90%;
        border: 0;
    }

    .modal-content{
        border-radius: 15px;
    }
    .information-dropdown, .information-dropdown-admin {
        min-width: 550px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 10px;
    }
    @media(max-width:570px){
        .information-dropdown {
            min-width: 350px;
        }
    }
    @media(max-width:688px){
        .information-dropdown {
            min-width: 400px;
        }
    }
    @media(max-width:735px ) {
        .information-dropdown-admin {
            min-width:430px;
        }
    }
    @media(max-width:598px ) {
        .information-dropdown-admin {
            min-width:350px;
        }
    }
  
    .desc-text {
        padding: 2em 2em;
        color:black;
        font-size:17px;
    }
    .blue-capsule-member {border: 1px solid #0095DE;
        border-radius: 25px;
        min-width: 190px !important;
        font-size: 19px;
        padding: 6px 20px;
        background-color: #0095DE;
        color: white;
    }
    .member-list {
        display:flex;
    }

    .leave-group-pd {
        font-size:15px;
        padding-right:50px;
    }
    @media(max-width:900px)
    {
        .leave-group-pd {
            padding-right:75px;
        }
        .yellow-capsule-blue-font.invite-friend
        {
            margin-right:30px;
        }
    }
    @media(max-width:550px)
    {
        .leave-group-pd {
            padding-right:95px;
        }
        .yellow-capsule-blue-font.invite-friend
        {
            margin-right:45px;
        }
    }

    /*** END market/group ***/

    /*** START HISTORY ***/
    
    .rating-header 
    { 
        border-bottom: 2px dashed #58B9E7;
    }
    .rating-box {
        width:100%;
        border: 6px solid #0095DA;
        border-radius:15px;
        min-height:400px;
    }
    .rating-box-buy 
    {
        border: 6px solid #A1A1A1;
    }
    .like-image {
        width: 120px;
        height:auto;
    }
    .rating-price {
        color: #959595;
        font-size: 50px;
        font-weight: bold;
    }
    .rating-btn {
        margin-right: 25px;
        margin-top: -20px;
    }
    .read-rating-btn {
        margin-right: 25px;
        margin-top: -20px;
        cursor: none;
    }
    .buyer-image-rating {
        width: 80px;
        height: auto;
        border-radius: 50%;
        border: 5px solid white;
        box-shadow: 4px 5px 14px 2px rgba(136, 136, 136, 0.68);
        margin-top:10px;
    }
    .buyer-rating-text {
        /* margin-left: 5px; */
        padding-top: 23px;
    }
    .buyer-profile {
        position: relative;
        margin-right: 20px;
    }
    .buyer-star-btn {
        border: 4px solid #a1a1a1;
        border-radius: 25px;
        font-size: 16px;
        padding: 7px 20px;
        background-color: #ffffff;
        color: #FEBA12;
        float: right;
        cursor: pointer;
        font-weight: bold;
    }
    .starrr {
        display: inline-block; }
        .starrr a {
          font-size: 16px;
          padding: 0 1px;
          cursor: pointer;
          color: #FFD119;
          text-decoration: none; }
      
    .rating-header.cancel-header {
        background-color: #0095da;
        padding-bottom: 6px;
    }
    .cancel-btn {
        margin-right: 25px;
        margin-top: -20px;
    }
    .grey-capsule-sale-item {
        border: 1px solid #DEDDDD;
        border-radius: 15px;
        font-size: 20px;
        padding: 6px 20px;
        background-color: #DEDDDD;
        display: flex;
        color: darkgray;
        width:fit-content;
    }
    .buy-icon {
        width: 29px;
        margin-right: 10px;
    }
    .sell-icon {
        width:42px;
        margin-right: 10px;
    }
    .tabs-sell.history-tab {
        border: none;
        margin-top: -28px;
    }
    #history_buy_tab {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #history_sale_tab {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
  
     /*** END start history ***/

  

     
    
.grey-20-bold {
    color: #959595;
    font-size:20px;
    font-weight: bold;
}
.grey-20 {
    color: #959595;
    font-size:20px;
}
.grey-15 {
    color: #959595;
    font-size:15px;
}
.black-20 {
    font-size:20px;
    font-weight: normal;
}

.black-20-bold {   
    font-size: 20px;
    font-weight: bold;
}



.orange-font {
    color:orange;
}



.button-hover {
    cursor: pointer;
}
.input-none-border {
    border:none;
    color: #000;

}
.padding-10 {
    padding:10px;
}
.pd-top-10 {
    padding-top: 10px;
}

.light-grey-border.w-100 {
    width: 100% !important;
}

.mg-left-15 {
    margin-left:15px;
}
.mg-left-10 {
    margin-left:10px;
}
.mg-left-5 {
    margin-left:5px;
}
.mg-left-20 {
    margin-left:20px;
}

.mg-left-25 {
    margin-left:25px;
}
.mg-right-5 {
    margin-right:5px;
}

.mg-right-10 {
    margin-right:10px;
}
.mg-right-15 {
    margin-right:15px;
}

.mg-top-10 {
    margin-top:10px;
}
.mg-top-20 {
    margin-top:20px;
}
.mg-top-15 {
    margin-top:15px;
}
.mg-top-25 {
    margin-top:25px;
}
.mg-top-30 {
    margin-top:30px;
}


.no-padding {
    padding: 0px;
}



.description-wrap {
    width: 100%;
    max-height: 150px;
    width: 100%;
    font-size: 12px;
}

.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    border-radius: 7px;
    height: 7px;
    width: 7px;
    opacity: 1 !important;
    transition: opacity .2s linear;
    background: #fff !important;
    background-clip: padding-box;
}

.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 11px;
    border-radius: 7px;
    margin-top: 5px;
    background-color: #D1D1D1
}

.simplebar-scroll-content {
    margin-top: 5px;
}
.no-margin {
   margin:0 !important;
}

.grey-border-bottom {
    border-bottom: 2px solid #959595;
}
.grey-border-bottom.scan-item {
    border-bottom: 2px solid #ECEDED;
}
.light-grey-border {
    border-bottom: 2px solid #DEDDDD;
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
.grey-border {
    border-bottom: 1px solid #959595;
}

.leave-group-footer {
    text-align: center;
    position: relative;
    padding-bottom: 50px;
}
.leave-group-footer .modal-join-btn
{
    padding: 6px 10px;
    width: 30%;
    
}
.cancel-red-btn
{
    border-radius: 40px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #fff;
    width: 50%;
    border: 2px solid #FC8C7A;
    color: #FC8C7A;
    font-weight: bold;
}
.scan-item {
    font-size: 20px;
    color: #959595;
    padding-top: 10px;
    /* padding-bottom:10px; */
    line-height: 45px; /* same as icon */
    vertical-align: middle;
}
.scan-font {
    font-size:20px;
}
@media(max-width:530px)
{
    .scan-small {
        display:inline;
        font-size:15px;
    }
    .scan-large {
        display:none;
    }
}
@media(min-width:531px) {
    .scan-small {
        display:none;
        font-size:15px;
    }
    /* .scan-large {
        display:inline;
    } */
}

.padding-top-25 {
    padding-top: 25px;
}

.mg-top-40 {
    margin-top:40px;
}
.mg-top-15 {
    margin-top:15px;
}
.mg-bottom-40 {
    margin-bottom:40px;
}
.button-tran {
    background: none;
    border: none;
}
.yellow-font {
    color: #FEBA12;
}
.light-blue {
    color: #58B9E7;
}
.light-blue-20 {
    color: #58B9E7;
    font-size:20px;
}

/*//////////////////////////START : RESERV & SELL  /////////////////////////*/

.mg-top-40 {
    margin-top:40px !important;
}
.mg-top-15 {
    margin-top:15px;
}
.mg-bottom-40 {
    margin-bottom:40px;
}

.mg-bottom-20 {
    margin-bottom: 20px;
}


.btn-reserv{
    border: 1px solid #0095DE;
    border-radius: 30px;
    font-size: 15px;
    text-align: center;
    padding: 8px 20px;
    background-color: #0095da;
    color: #fff;
    width: 45%;
}
.btn-re-cancel {
    border: 3px solid #e67260;
    border-radius: 19px;
    font-size: 18px;
    padding: 8px 20px;
    background-color: #e67260;
    color: #fff;
    width: 30%;
}
.btn-re-confirm {
    border: 3px solid #fff;
    border-radius: 19px;
    font-size: 20px;
    /*padding: 3px 10px;*/
    background-color: #fff;
    color: #11bd8b;
    width: 30%;
}

.btn-modal-cancel {
    border: 3px solid #e67260;
    border-radius: 19px;
    font-size: 18px;
    padding: 5px 20px;
    background-color: #fff;
    color: #e67260;
    width: 100%;
     font-weight: 600;
}

.btn-modal-confirm {
    border: 3px solid #feb913;
    border-radius: 19px;
    font-size: 18px;
    padding: 5px 20px;
    background-color: #feb913;
    color: #075691;
    width: 100%;
    font-weight: 600;
}


.badg-bg-yl{
    background-color: #feba12;
    font-size: 13px;
    /*padding: 3px 5px !important;
*/
    padding: 4px 6px !important;
}

.bg-head-re{
    background-color: #0083cb !important;
    border-bottom:4px dashed #fff!important; 
    color: #fff !important;
    border-radius: 30px 30px 0px 0px !important;
   /* margin-bottom: 20px;*/
}
.panel-default.re-h-redius{    
    border-radius: 30px !important;
    border-color: #898989 !important;
}

.tx-yellow{
    color:#feba12;
    font-weight: 900 !important;
}
.tx-blue{
    color: #0083cb;
    font-weight: 400 !important;
}
.tx-black{
    color: #000 !important;
}
.tx-white{
    color: #fff !important;
}
.tx-left{
    text-align: left !important;
}
.tx-weight1{
    font-weight: 300 !important;
}
.tx-weight2{
    font-weight: 400 !important;
}
.tx-weight3{
    font-weight: 500 !important;
}
.tx-center{
    text-align: center !important;
}

.icon-ok{
    width: 20%;
    height: 20%;
}
label.tx-left{
    font-weight: 400 !important;
    color: #252525 !important;
}
.form-group-head{
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 30px !important;
}
.modal-redius30{
    border-radius: 30px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.modal-redius-close{
    border-radius: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 30px !important;
}
.padd-10{
    padding: 10px !important;
}
.padd-15{
    padding: 15px !important;
}
.padd-20{
    padding: 20px !important;
}
.padd-30{
    padding: 30px !important;
}
.padd-t-15{
    padding-top: 15px !important;
}
.padd-t-20{
    padding-top: 20px !important;
}
.padd-t-30{
    padding-top: 30px !important;
}
.padd-l-5{
    padding-left: 5px !important;
}
.modal-w400 {
    width: 450px;
}
.modal-w400 {
    width: 450px;
}

.modal-w1200 {
    width: 80% !important;
}

/*////////////// sell /////////*/
.mini-icon{
    width: 60% !important;
}
.tabs-sell{
    padding-left: 5%;
    padding-right: 5%;
}
.tabs-border-right{
    border-right:1px solid #ddd;
}
.tabs-sell li{
    width: 40%;
    text-align: center;
}

.tabs-sell li a{
    font-size: 18px;
    color: #898989;    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.tabs-sell>li.active>a, .tabs-sell>li.active>a:focus, .tabs-sell>li.active>a:hover{
     color: #fff !important;
     background-color: #0095da !important;
}

.tabs-sell>li.active>a>label{
    color: #fff !important;
}


.tabs-sell>li.active>a>label>.badge-sell{
    background-color : #fff !important;
    color: #0095da;
}

.badge-sell{
    background-color: #0095da;
    padding: 4px 7px !important;
    padding-top: 5px !important;
    color: #fff;
    margin-left: -15% !important;
    font-size: 10px !important;
}


.tab-content-sell{
    padding-top: 30px;
}

.bordor-sty-gray{
    padding: 10px;
    border:1px solid #7d7d7d;
    border-radius: 15px;
}

.input-sty1{
    border:0px !important;
    box-shadow: 0px 0px 0px !important;
}
.input-sty-table{
    border:0px !important;
    box-shadow: 0px 0px 0px !important;
    padding: 0px !important;
}
.input-sty-table::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7d7d7d;
  text-align: center !important;
}
.textarea-sty1{
    border:0px !important;
}
.bd-gray{
    border-bottom: 1px solid #8e8e8e!important;
    border-radius: 15px !important;
}

.bd-gray::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7d7d7d;
}

.box-input{
    border-bottom: 1px solid #6d6d6d;
    padding: 10px;
    padding-top: 15px;
    margin-bottom: 10px;
}
.box-textarea{
    padding: 10px;
}

.btn-sell-add {
    border: 2px solid #00da9f;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    padding: 6px 20px;
    background-color: #fff;
    width: 100%;
    float: right;
    color: #00da9f !important;
}
.table-sell thead tr th{
    color: #0095da;
}
.table-sell thead tr{
    height: 50px !important;
}
.table-sell thead tr th{
   vertical-align: top !important;
}

.table-sell tfoot tr{
    height: 60px !important;
}
.table-sell tfoot tr td{
   vertical-align: bottom !important;
}

.table-normal thead tr th{
    color: #0095da;
}
.table-normal thead tr{
    height: 50px !important;
}
.table-normal thead tr th{
   vertical-align: top !important;
}

.table-normal tfoot tr{
    height: 60px !important;
}
.table-normal tfoot tr td{
   vertical-align: bottom !important;
}

.table-normal tbody tr td{
   border-top: 0px !important;
}
.table-normal thead tr th{
    border-bottom: 0px !important;
}

.icon-bin{
    width: 25%;
}

.reg bdo {
    float: left;
    margin-bottom: 10px;
    position: relative;
   /* width: 50%;*/
}
.reg bdo input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    position: relative;
    z-index: 999996;
    width: 30px;
}
.reg bdo span {
    border: 1px solid #b7b7b7;
    border-radius: 100%;
    /* background: rgba(0, 0, 0, 0) url(../images/radio_btn.png) no-repeat scroll center bottom; */
    cursor: pointer;
    left: -2px;
    padding: 14px;
    position: absolute;
    top: -5px;
    z-index: 0;
}
.reg bdo span:hover {
    border: 1px solid black;
   /* background: rgba(0, 0, 0, 0) url("../images/radio_btn_ho.png") no-repeat scroll center bottom;*/
}
.reg bdo input[type="radio"]:checked + span {
   /* background: rgba(0, 0, 0, 0) url("../images/radio_btn_ho.png") no-repeat scroll center bottom;*/
}
.reg bdo input[type="radio"]:checked + span::after {
    background: #0095da none repeat scroll 0 0;
    border-radius: 100%;
    bottom: 0;
    content: " ";
    height: 22px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
}

.bd-box-shadow{
   padding-left: 10%;
   padding-right: 10%;
   box-shadow: 0 6px 18px -5px #d6d6d6;
   height: 10%;
}
.bt-box-shadow{
 box-shadow: 0 6px 18px -5px #d6d6d6;
}

.pad-l-r5{
  padding-left: 5% !important;
   padding-right: 5% !important;
}
.pad-t-b5{
  padding-top: 4% !important;
   padding-bottom: 4% !important;
}
.no-padd{
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}

.tx-i-blue{
    color: #0095da !important;
    font-size: 20px !important;
}
.input-bt-gr{
    border-bottom: 1px solid #000000;
}


.input-bt-gr input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0095da !important;
}

@font-face {
    font-family: "FontAwesome";
    src:url("/fonts/fontawesome-webfont.eot");
    src:url("/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
      url("/fonts/fontawesome-webfont.woff") format("woff"),
      url("/fonts/fontawesome-webfont.ttf") format("truetype"),
      url("/fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
    font-weight: normal;
    font-style: normal;
  
  }

.checkbox {
    padding-left: 38px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 20px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -21px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 16px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.head-sell-blue{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background-color: #0095da !important;
    color: #fff !important;
}
.head-sell-blue a:hover{
    color: #fff !important;
}
.head-sell-blue a:focus{
    color: #fff !important;
}
.bg-none{
    background-color: transparent !important;
}
.black-bd-bt{
    border-bottom: 2px solid #dddddd !important;
}


.btn-preview {
    border: 3px solid #feb913;
    border-radius: 19px;
    font-size: 18px;
    padding: 8px;
    background-color: #feb913;
    color: #075691;
    width: 48%;
    font-weight: 600;
    text-align: center;
    margin: auto;
    margin-right: 10px;
}

.btn-md-blue-w-p {
    border: 2px solid #0095da;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 8px;
    background-color: #fff;
    width: 48%;
    color: #0095da !important;
}

.badge-plus{
    margin-top: 8px;
    background-color: #fff !important;
    border: 2px solid #00da9f !important;
    padding: 4px 7px !important;
    padding-top: 4px !important;
    color: #fff !important;
    margin-left: -15% !important;
    font-size: 16px !important;
    border-radius: 30px;
}

.badge-minus{
    margin-top: 8px;
    background-color: #fff !important;
    border: 2px solid #fc8c7a !important;
    padding: 4px 7px !important;
    padding-top: 4px !important;
    color: #fff !important;
    margin-left: -18% !important;
    font-size: 16px !important;
    border-radius: 30px;

}
.tx-i-white{
    color: #fff !important;
    font-size: 12px !important;
}
.tx-i-green{
    color: #00da9f !important;
    font-size: 12px !important;
}
.tx-i-red{
    color: #fc8c7a !important;
    font-size: 12px !important;
}

.tx-gray{
    color: #7d7d7d !important;
}

.no-shadow{
   box-shadow: 0px 0px 0px !important;
}

.input-sty-gray input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a1a1a1 !important;
}

.i-prev{
    margin-top: 65px !important;
    left: -20px;
}

.i-next{
    margin-top: 65px !important;
    right: -20px;
}
.tx-date-blue{
    margin-top: 8px !important;
    font-weight: 700 !important;
}

.bg-color-blue{
    background-color: red !important;
}
.mg-l-r1{
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.padd-l-r2{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.padd-l-r1{
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.table-accept {
    margin-bottom: 0px !important;
}
.table-accept thead tr th{
    border: 0px;
    vertical-align: middle !important;
    padding: 3px !important;
}
.table-accept tbody tr td{
    border: 0px;
    vertical-align: middle !important;
    padding: 3px !important;
}

.btn-sm-blue {
    border: 2px solid #0095da;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    text-align: center !important;
    padding: 2px;
    background-color: #fff;
    width: 100%;
    color: #0095da !important;
}

.btn-md-blue {
    border: 2px solid #0095da;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 8px;
    background-color: #fff;
    width: 100%;
    color: #0095da !important;
    
}


.btn-md-blue-w {
    border: 2px solid #0095da;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 8px;
    background-color: #fff;
    width: 50%;
    color: #0095da !important;
    
}

.img-i-w{
    width:40% !important;
    height:40% !important;
    margin-left: 20px !important
}


.btn-sm-yell {
    border: 2px solid #feba12;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 2px;
    background-color: #fff;
    width: 100%;
    color: #f8b658 !important;
}

.badge-tg{
    margin-top: 8px;
    background-color: #0095da !important;
    padding: 4px 7px !important;
    padding-top: 4px !important;
    color: #fff !important;
    margin-left: -15% !important;
    font-size: 16px !important;
    border-radius: 30px;

}
.w-avatar{
    width: 45px !important;
    height: 45px !important;
}

.panel-head-sell {
    background-color: #fff !important;
}
.panel-sell{
    border: 0px !important;
}
.panel-body-sell{
    border: 0px !important;
}

.panel-default>.panel-head-sell {
    border: 1px solid #ddd !important;
    border-radius: 30px !important;
    box-shadow: 0 0 3px #d8d8d8;
}

.mg-b-20{
    margin-bottom: 20px !important;
}

.border-all-gray{
    border: 1px solid #d5d5d5 !important;
}

.border-t-gray{
    border-top: 2px solid #d5d5d5 !important;
}

.border-bt-gray{
    border-bottom: 2px solid #d5d5d5 !important;
}
.border-blue{
    border:2px solid #0095da;
    border-radius: 20px !important;
    padding-top: 30px !important;
    /*z-index: -999;*/
}

.box-wait{
    padding-top: 5px;
    padding-bottom: 5px;
}
.box-wait-body{
    margin-left: 3% !important;
    margin-right: 3% !important;
}

.btn-minus{
    border:2px solid #e67260;
    color: #e67260;
    background-color: transparent!important;
    font-weight: 500;
}

.btn-cover2{
    background-color: #0095da !important;
    color: #fff !important;
    font-size: 18px;
    border-radius: 20px;
}
.btn-delete{
    background-color: #e67260 !important;
    color: #fff !important;
    font-size:18px;
    border-radius: 20px;
}
.btn-cover{
    background-color: #0095da !important;
    color: #fff !important;
}
.btn-set-cover{
    background-color:rgb(0,50,83);opacity:0.7;
    color: #fff !important;
}

.img-mg-t-m{
    margin-top: -15% !important;
}

.images-thumbnail{
    /*width:100% !important;*/
    /*max-height: 320px !important;*/
    text-align: center;

}

/*.imageupload{
    height: 320px !important;
    border:1px solid #898989 !important;
}
*/
.img-wh-sell{
    width:100% !important;
    max-height: 320px !important;
}
.btn-file-img{
    margin-top: 30% !important;
    color: #fff !important;
    background-color: #00da9f !important;
}

.add-img-sell{
    margin-top: 20px !important;
    height: 320px !important;
    border:1px solid #898989 !important;
}

.no-border{
    border: 0px !important;
}

.btn-blue-img{
    margin-top: 3px ;
    margin-right: 5px ;
    color: #0083cb !important;
    background-color: transparent !important;
    border: 2px solid #0083cb !important;
}
.edit-img{
   /* margin-top: -13% !important;*/
    margin-left: 10px; 
    margin-bottom: 10px;
}

.calender-addon-btn{
    background: transparent !important;
    border: 0px !important;
}

.mg-t-1{
    margin-top: -1px !important;
}

.panel-heading.panel-head-sell{
    padding: 2px 2px !important;
}

.btn-sty-sm{

}

.w-b-acp{
    width:50%;
}

.close{
    font-size: 40px !important;
    margin-right: 3% !important;
    margin-top: 1% !important;
}

.carousel-control.left{
    background-image : linear-gradient(to right,rgba(0, 0, 0, 0.13) 0,rgba(0,0,0,.0001) 100%) !important;
}

.carousel-control.right{
background-image: linear-gradient(to left,rgba(0,0,0,0.13) 0,rgb(255, 255, 255) 100%) !important;
}


/*// sell total tab */


<style media="screen">
    .tx-left{
        text-align: left !important;
    }
    .tx-right{
        text-align: right !important;
    }
    .bg-head-re2{
        margin: 5px;
        border-radius: 15px 15px 15px 15px !important;
        background-color: #0083cb !important;
        color: #fff !important;
    }

.btn-list-accept {
    border: 2px solid #0083cb;
    border-radius: 19px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #fff;
    color: #0083cb;
    width: 100%;
    font-weight: 100;
    margin-top: -0.3%;
    position: relative;
    z-index: 1 !important;
}

.arrow-up {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 18px solid #fff;
    margin-left: 7%;
    margin-top: -3%;
    position: relative;
    z-index: 2 !important;
}

.arrow-up2 {
    width: 0px;
    height: 0px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 23px solid #0083cb;
    margin-left: 6%;
    position: relative;
    z-index: 2 !important;
}
</style>

.tabs-sell>li.active>a>label{
     color: #fff !important;
     background-color: #0095da !important;
}
.tabs-sell>li.active>a:focus, .tabs-sell>li.active>a:hover{
     color: #ddd !important;
}

@media(max-width:  1427px) {
      .cropit-preview {
        width: 30%;
      }

    .tabs-sell li{
        width: 22%;        
    }

   /* .tabs-sell{
        padding-left: 28% !important;
    }*/

    .icon-bin{
        width: 40%;
    }
}


@media(max-width:  1366px) {
   /* .tabs-sell{
        padding-left: 8% !important;
         padding-right: 8% !important;
    }*/
    .tabs-sell.tabs-sell.history-tab{
        padding-left: 30% !important;
    }
    .tabs-sell li{
        width: 25%;
    }
}

@media(max-width:  1280px) {
  .cropit-preview {
    width: 30%;
  }
  
}

@media(max-width:  1263px) {
   /* .tabs-sell{
        padding-left: 5% !important;
         padding-right: 5% !important;
    }*/
    .tabs-sell.tabs-sell.history-tab{
        padding-left: 30% !important;
    }
    .tabs-sell li{
        width: 25%;
    }
}

@media(max-width:  1187px) {
    .tabs-sell.history-tab{
        padding-left: 30% !important;
    }
    .tabs-sell.history-tab li{
       width: 30% !important;
    }
}
@media(max-width:  971px) {
    .tabs-sell.history-tab{
        padding-left: 30% !important;
    }
    .tabs-sell.history-tab li{
       width: 30% !important;
    }
    .tabs-sell.history-tab li a{
        max-height: 70px !important;
     }
}
@media(max-width:  916px) {
    .tabs-sell.tabs-sell.history-tab{
        padding-left: 10% !important;
    }
    .tabs-sell.history-tab li{
       width: 30% !important;
    }
    .tabs-sell.history-tab li a{
        max-height: 70px !important;
     }
}
@media(max-width:  1268px) {
  .cropit-preview {
    width: 30%;
  }
  .img-mg-t-m{
     margin-top: -15% !important;
    }
}
@media(max-width:  1230px) {
  .cropit-preview {
    width: 30%;
  }
  
}

@media(max-width:  1182px) {
    .w-b-acp{
        width:70%;
    }
    .w-avatar{
        margin-top: 5px;
        width: 60% !important;
        height: 60% !important;
    }

    .img-mg-t-m{
     margin-top: -16% !important;
    }
}

@media(max-width:  1124px) {
   .img-mg-t-m{
     margin-top: -18% !important;
    }
}


@media(max-width:  1177px) {
    .btn-re-cancel,.btn-re-confirm{
        width: 40%;
    }

    .tabs-sell{
        padding-left: 0% !important;
    }
    .tabs-sell li{
        width: 25%;
    }
}

@media(max-width:  1112px) {
  .cropit-preview {
    width: 30%;
  }
    .img-mg-t-m{
     margin-top: -18% !important;

    }

}

@media(max-width:  1094px) {
    .top-25-container{
        margin-left: 0px;
        margin-right: 0px;
    }
 
  .tabs-sell li{
        width: 25% !important;
    }

    /*.tabs-sell{
        padding-left: 2% !important;
    }*/
}

@media(max-width:  954px) {     
  .tabs-sell li{
          width: 10%;
      }
     /* .tabs-sell{
          padding-left: 5% !important;
          padding-right: 5% !important;
      }*/
      .tabs-sell > li > a{
          height: 122px;
      }

    .m-img{
        width: 100%;
        height: 300px;
    }
}
@media(max-width:  945px) {
    .w-b-acp,.b-ac1,.b-ac2{
        font-size: 16px;
    }
}

@media(max-width:  991px) {
    .img-i-w{
        width:30% !important;
        height:30% !important;
        margin-left: 35% !important
    }

    .btn-re-cancel{
        width: 30%;
        padding: 9px 10px;
    }
    .btn-re-confirm{
        width: 30%;
        padding: 3px 10px;
    }
    .icon-ok{
        width: 15%;
    }
    .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 1%;
    max-height: 350px !important;
    width: 35% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -4% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}
@media(max-width:  998px) {
    .btn-reserv{
        width: 90%;        
    }
     .w-avatar{
        margin-top: 5px;
        width: 70% !important;
        height: 70% !important;
    }
}
@media(max-width:  950px) {
.m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 2%;
    max-height: 360px !important;
    width: 35% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -4% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}
@media(max-width:  900px) {
    .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 3%;
    max-height: 350px !important;
    width: 35% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -4% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}
@media(max-width:  868px) {
    .w-b-acp,.b-ac1,.b-ac2{
        font-size: 15px;
        width: 100%;
    }
    .table-accept thead tr,.table-accept tbody tr{
        font-size: 15px;
    }

     .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 4%;
    max-height: 360px !important;
    width: 35% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -4% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}

@media(max-width:  835px) {
    .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 4%;
    max-height: 400px !important;
    width: 35% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -2% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}

@media(max-width:  792px) {
    .w-b-acp,.b-ac1,.b-ac2{
        font-size: 13px;
        width: 100%;
    }
    .table-accept thead tr,.table-accept tbody tr{
        font-size: 15px;
    }

     .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 2%;
    max-height: 350px !important;
    width: 42% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -4% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}

@media(max-width:  767px) {
    .b-ac1,.b-ac2{
        font-size: 13px;
        width: 100%;
    }
    .pd-ac{
        padding: 0px;
    }
    .table-accept thead tr,.table-accept tbody tr{
        font-size: 15px;
    }

     .w-avatar{
        margin-top: 5px;
        width: 85% !important;
        height: 85% !important;
    }
}

@media(max-width:  745px) {
    .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 2%;
    max-height: 350px !important;
    width: 46% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -5% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}
@media(max-width:  705px) {     
    .tabs-sell li{
          width: 25% !important;
    }

      .tabs-sell{
          padding-left: 0% !important;
          padding-right: 0% !important;
      }

     .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 2%;
    max-height: 350px !important;
    width: 48% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -5% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}
@media(max-width:  705px) {     
    .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 2%;
    max-height: 350px !important;
    width: 48% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -5% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }

     .icon-bin{
        width: 40%;
    }
}

@media(max-width:  658px) {   

    .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 3%;
    max-height: 350px !important;
    width: 50% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -5% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }

    .icon-bin{
        width: 45%;
    }
}

@media(max-width:  626px) {     
    .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 4%;
    max-height: 350px !important;
    width: 52% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -5% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}

    }
}

@media(max-width:  626px) {     
    .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 4%;
    max-height: 350px !important;
    width: 52% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -5% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}

@media(max-width:  620px) {
    .m-img{
        width: 100%;
        height: 220px;
    }
   .tabs-sell li{
        width: 33%;
    }

    .tabs-sell{
        padding-left: 0% !important;
    }

    .tabs-sell > li > a{
        height: 153px !important
    }


    .content-reserv{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
   .form-group{
    margin-bottom: 8px;
   }
   .btn-reserv{
        width: 90%;
    }
    .btn-re-cancel,.btn-re-confirm{
        width: 40%;
    }
    .h1{ font-size: 36px; }
    .h2{ font-size: 30px; }
    .h3{ font-size: 20px; }
    .h4{ font-size: 16px; }
    .h5{ font-size: 15px; }
    .h6{ font-size: 12px; }
    .w-avatar{
        margin-top: 5px;
        width: 95% !important;
        height: 95% !important;
    }

    .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 4%;
    max-height: 350px !important;
    width: 52% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -5% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}
@media(max-width:  588px) {

 .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 4%;
    max-height: 350px !important;
    width: 55% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -4% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }

    .icon-bin{
        width: 48%;
    }
}
@media(max-width:  574px) {
    .b-ac1,.b-ac2{
        font-size: 13px;
        width: 100%;
    }
    .pd-ac{
        padding: 0px;
    }
    .table-accept thead tr,.table-accept tbody tr{
        font-size: 13px;
    }
    .w-avatar{
        margin-top: 5px;
        width: 100% !important;
        height: 100% !important;
    }
}
@media(max-width:  552px) {
   
  .tabs-sell li{
        width: 35%;        
    }

    .tabs-sell{
        padding-left: 0px !important;
    }
    .w-avatar{
        margin-top: 5px;
        width: 150% !important;
        height: 150% !important;
    }

    .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 4%;
    max-height: 350px !important;
    width: 59% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -4% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
  
}

@media(max-width:  502px) {
    .b-ac1,.b-ac2{
        font-size: 13px;
        width: 100%;
    }
    .pd-ac{
        padding: 0px;
    }
    .table-accept thead tr,.table-accept tbody tr{
        font-size: 11px;
    }

    .w-avatar{
        margin-top: 5px;
        width: 100% !important;
        height: 100% !important;
    }

     .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 4%;
    max-height: 350px !important;
    width: 66% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -4% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}

@media(max-width:  470px) {
     .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 4%;
    max-height: 350px !important;
    width: 70% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -4% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }

    .icon-bin{
        width: 63%;
    }
}
@media(max-width:  432px) {
    .b-ac1,.b-ac2{
        font-size: 13px;
        width: 100%;
    }
    .pd-ac{
        padding: 0px;
    }
    .table-accept thead tr,.table-accept tbody tr{
        font-size: 10px;
    }

    .w-avatar{
        margin-top: 5px;
        width: 100% !important;
        height: 100% !important;
    }

     .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 5%;
    max-height: 350px !important;
    width: 76% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -4% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
}
@media(max-width:  409px) {
    .btn-reserv{
        width: 90%;        
    }
    .h3{ font-size: 18px; }
    .btn-re-cancel,.btn-re-confirm{
        width: 45%;
    }

    .tabs-sell li{
        width: 33%;
    }

    .tabs-sell li a{
        font-size: 16px ;

    }

    .tabs-sell{
        padding-left: 0px !important;
    }

    .tabs-sell > li > a{
        height: 152px;
    }

    .top-25-container{
        margin-left: 0px;
        margin-right: 0px;
    }

     .m-img{
        width: 100%;
        height: 350px;
    }
    .images-thumbnail{
    margin-top: 6%;
    max-height: 350px !important;
    width: 79% !important;
    text-align: center;
    }
    
    .img-mg-t-m{
        margin-top: -4% !important;
    }
    .cropit-image-zoom-input{
        margin-bottom: 20px;
    }
    .editor-img{
        margin-bottom: 50px !important;
    }
    .icon-bin{
        width: 80%;
    }
}

/*//////////////////////////END :  RESERV & SELL  /////////////////////////
